<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Edit Savings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/darkly/bootstrap.min.css">
    <style>
      /* Add custom CSS here */
      body {
        background-color: #2d2d2d;
      }
      h1, h2, h3, h4, h5, h6 {
        color: #9b59b6;
      }
      .btn-primary {
        background-color: #9b59b6;
        border-color: #8e44ad;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-5">Edit Savings</h1>
      <form method="POST" action="{{url_for('edit_savings', id=savings.id)}}">
        {% if savings %}
          <div class="form-group">
            <label for="Name">Goal</label>
            <input type="text" class="form-control" id="goal" name="goal" value="{{savings.goal}}">
          </div>
          <div class="form-group">
            <label for="Amount">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" value="{{savings.amount}}">
          </div>
          <div class="form-group">
            <label for="deadline">Deadline</label>
            <input type="date" class="form-control" id="deadline" name="deadline" value="{{savings.deadline}}">
          </div>
          {% endif %}
          <input type="submit" value="Save Changes" class="btn btn-primary">
      </form>      
    </div>
  </body>
</html>
